#pragma code_page(1252)

#define APP_MANIFEST                    1
#define IDI_XSHARPER                    0
#define IDI_XSH                         1
#define VS_VERSION_INFO					1

APP_MANIFEST RT_MANIFEST 				xsharper.manifest
IDI_XSH                 ICON            "xsh.ico"
IDI_XSHARPER            ICON            "xsharper.ico"


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0, 9, 1222, 0
 PRODUCTVERSION 0, 9, 1222, 0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "XSharper scripting engine"
            VALUE "FileVersion", "0, 9, 1222, 0"
            VALUE "InternalName", "xsharper"
            VALUE "LegalCopyright", "Copyright xsharper.com (C) 2010"
            VALUE "OriginalFilename", "xsharper.exe"
            VALUE "ProductName", "xsharper"
            VALUE "ProductVersion", "0, 9, 1222, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

